@model IEnumerable<Parcial1_BrayanPorrasCerdas.Models.TipoPago>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipos de pago</h1>

<p>
    <a asp-action="Create">Crear TIPO DE PAGO</a>
</p>

<form asp-controller="Tipopagoes" asp-action="Index">
    <p>
        BUSCAR TIPO DE PAGO: <input type="text" name="buscar_tipo_pago" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
    </p>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoPago">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoPago">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoPago">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
